:root {
    --very-light-pink: #C7C7C7;
    --hospital-green: #ACD9D2;
    --white: #FFFFFF;
    --dark: #232830; 
    --text-input-field: #F7F7F7;
    --black: #000000;
}

body {
    font-family: 'Quicksand', sans-serif;
}